body {
  padding-top: 4em;
}

main#main > .segment {
  padding: 2em;
}

pre {
  font-family: monaco;
  color: #fff;
  background-color: #333;
  line-height: 1.3em;
  padding: .5em 1em;
  margin-top: 2em;
}
